/Data
/ResNet/results
/StyleGAN3/Splitter/images
/StyleGAN3/Splitter/results
/StyleGAN3/stylegan3-main/datasets/most_likeable_data256.zip
/StyleGAN3/stylegan3-main/datasets/resized_images256.zip
/StyleGAN3/stylegan3-main/lhq-256-stylegan3-t-25Mimg.pkl
/.DS_Store

